<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.faishalammar.hellochat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/chat_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chat_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".openGlSplashScreen.SplashActivity">
            <!--android:theme="@style/SplashTheme">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <receiver android:name=".NetworkConnectionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.MessageServiceReceiver">
            <intent-filter>
                <action android:name="id.ac.ui.cs.mobileprogramming.faishalammar.hellochat.service.MyBroadcastReceiver.ACTION_TRIGGER" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MessageHandlerService" />

    </application>

</manifest>